#topBox {
    width: 75%;
    height: 150px;
    background-color: #f0f0f0;
    outline: 3px solid red;
    margin: auto;
}
#topBox img {
    width: 100%;
    height: 150px;
}

body{
    background-color: black;
}

.cartas{
    margin-top: 25px;
}

#myspace{
    margin-top: 25px;
    margin-left: 50px;
}

#parent {
    display: flex;
}