@font-face {
    font-family: 'Cosmic Hearts';
    src: url('./Assets/Fonts/ComicHearts.otf');
}

@font-face {
  font-family: 'Death Note';
  src: url('./Assets/Fonts/Death\ Note.ttf');
}

#topBox {
    width: 75%;
    height: 150px;
    background-color: #f0f0f0;
    outline: 3px solid red;
    margin: auto;
}
#topBox img {
    width: 100%;
    height: 150px;
}

#rsvp .list-group-item {
    color: white;
}

#dnote{
  font-family: 'Death Note', 'Times New Roman', Times, serif;
}

body {
    background-image: url('./Assets/khbackground2.png');
    background-size: cover;
    font-family: 'Cosmic Hearts', 'Times New Roman', Times, serif;
    font-weight: 500;
}

.cartas{
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

#myspace{
    margin-top: 25px;
    margin-left: 50px;
}

#parent {
    display: flex;
}

#overlay{
    color:black;
}
.card{
    color:white;
    background-color: black;
}

.star {
	position: fixed;
	pointer-events: none;
}

.star:before, .star:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '\2726';
	font-size: 9px;
}

.star:before {
	color: transparent;
	text-shadow: 0 0 3px rgb(250, 250, 174);
}

.star:after {
	background: yellow;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.star {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
    opacity: 0;
  }
  
  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }
  
  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }
  
  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
    opacity: 0;
  }
}

@media (max-width: 768px) { /* This will apply the rules only on screens smaller than 768px */
  #parent {
      display: flex;
      flex-direction: column;
  }

  #myspace {
      order: 1; /* This will make myspace appear first */
  }

  #topBox {
      order: 2; /* This will make topBox appear second */
  }
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/games/gam-2/gam112.cur), auto !important;} /* End https://www.cursors-4u.com */