#topBox {
    width: 75%;
    height: 150px;
    background-color: #f0f0f0;
    outline: 3px solid red;
    margin: auto;
}
#topBox img {
    width: 100%;
    height: 150px;
}

body {
    background-color: black;
    background-image: url('./Assets/khbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.cartas{
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

#myspace{
    margin-top: 25px;
    margin-left: 50px;
}

#parent {
    display: flex;
}
.card{
    color:white;
    background-color: black;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/games/gam-2/gam112.cur), auto !important;} /* End https://www.cursors-4u.com */